<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后端脚手架 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后端脚手架</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">首页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    Admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">01管理</a>
                    <dl class="layui-nav-child">
                        <dd class="opt-newTab"> <a href="javascript:;">01功能一</a></dd>
                        <dd class="opt-newTab"> <a href="javascript:;">01功能二</a></dd>
                        <dd class="opt-newTab"> <a href="javascript:;">01功能三</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">02管理</a>
                    <dl class="layui-nav-child">
                        <dd class="opt-newTab"><a href="javascript:;">02功能一</a></dd>
                        <dd class="opt-newTab"><a href="javascript:;">02功能二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">03管理</a></li>
                <li class="layui-nav-item"><a href="">其他管理</a></li>
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 5px;">
            <!-- 子页面Title（就是Tab） -->
            <div class="layui-tab layui-tab-brief" lay-allowclose="true" lay-filter="nav-filter">
                <ul id="tab-title" class="layui-tab-title" >

                </ul>
                <div id="tab-content" class="layui-tab-content">

                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        © zephyrLai.com
    </div>
</div>

<script src="/layui/layui.js"></script>
<script src="/base/js/func.js"></script>

</body>
</html>