<div class="layui-row layui-col-space10">

    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                学生信息新增
                <button id="btn-return" class="layui-btn layui-btn"
                        url="/student/toInfo"
                        style="float:right;margin: 3px"
                        value="返回">
                    <i class="layui-icon">&#xe65c</i>
                    返回
                </button>
            </div>
            <div class="layui-card-body">
                <form class="layui-form" id="addForm" method="post" action="/student/add">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required  lay-verify="required" placeholder="学生姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">年龄</label>
                        <div class="layui-input-inline">
                            <input type="number" name="age" required lay-verify="required" placeholder="年龄" autocomplete="off" class="layui-input">
                        </div>
                        <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="gender" value="M" title="男" checked>
                            <input type="radio" name="gender" value="F" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">入学时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="checkInTime" placeholder="入学时间">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-inline">
                            <select name="grade" lay-verify="required">
                                <option value="">--请选择--</option>
                                <option value="1">一年级</option>
                                <option value="2">二年级</option>
                                <option value="3">三年级</option>
                                <option value="4">四年级</option>
                                <option value="5">五年级</option>
                                <option value="6">六年级</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">班级</label>
                        <div class="layui-input-inline">
                            <input type="number" name="clazz" required lay-verify="required" placeholder="班级" autocomplete="off" class="layui-input">
                        </div>
                        <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button id="sub-btn" class="layui-btn" lay-filter="formDemo">确定</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['element','jquery','layer','sysFunction','laydate'], function(){
        var $ = layui.jquery;
        var sysFunction = layui.sysFunction;
        var laydate = layui.laydate;

        $("#btn-return").on("click",function () {
                $(".layui-show").empty();
                $(".layui-show").append(sysFunction.getHtmlCode("/student/toInfo"));
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#checkInTime' //指定元素
            ,format: 'yyyy年MM月dd日'
        });
        $("#sub-btn").on('click', function(data){
            $.ajax({
                url:'/student/add',
                method:'post',
                data:$("#addForm").serialize(),
                async:false,
                dataType:'JSON',
                success:function(res){
                    if(res.result){
                        $(".layui-show").empty();
                        $(".layui-show").append(sysFunction.getHtmlCode("/student/toInfo"));
                    }
                    else
                        alert("fail");
                },
                error:function(data){

                }
            });
        });

    });
</script>

